html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*------------------------*/

body {
	height: 100vh;
	font-family: "Rajdhani", sans-serif;
  	font-weight: 400;
  	font-style: normal;
    background-color: black;
    color: white;
}

nav img {
	width: 50px;
	transition: 0.1s ease;
}

nav img:hover {
	transform: scale(1.5);
	transition: .1s ease;
	filter: drop-shadow(0 0 2px white);
}

main {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 20px;
	background-image: url(../Wallpapers/Wallpaper2.jpg);
	background-position: center;
	background-size: cover;
}

.maincontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.maincontainer > span {
    font-size: 40px;
    font-weight: 700;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    gap: 20px;
    padding: 20px;
    background-color: aliceblue;
    border-radius: 10px;
    color: black;
    box-shadow: -1px 2px 3px 10px rgba(79,79,79,0.69);
}

.container span {
    font-size: 25px;
    font-weight: 700;
}

.input {
    display: flex;
    height: 40px;
    gap: 20px;
}

.input input {
    width: 50px;
    height: 35px;
    border-radius: 5px;
	text-align: center;
}

.input button {
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    height: 100%;
    color: white;
    background-color: darkcyan;
    cursor: pointer;
    transition: all 0.1s linear;
    border-color: white;
}

.input button:hover {
    opacity: 80%;
    transition: all 0.1s linear;
}

.password {
    border: solid 1px white;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    box-shadow: -1px 2px 26px 10px rgba(191,191,191,0.69) inset;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15px;
	font-weight: 600;
	padding: 0 2px;
	letter-spacing: 1px;
}

.passwordfooter {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
	gap: 40px;
}

.passwordfooter img {
	width: 50px;
}

.passwordfooter::after, .passwordfooter::before {
	content: '';
	height: 3px;
	width: 350px;
	background-color: white;
}

.passwordfooter a {
	transition: 0.1s ease;
}

.passwordfooter a:hover {
	transform: scale(1.5);
	transition: .1s ease;
	filter: drop-shadow(0 0 2px rgb(255, 255, 255));
}