html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*------------------------*/


body {
	height: 100vh;
	font-family: "Rajdhani", sans-serif;
  	font-weight: 400;
  	font-style: normal;
}

nav img {
	width: 50px;
	transition: 0.1s ease;
}

nav img:hover {
	transform: scale(1.5);
	transition: .1s ease;
	filter: drop-shadow(0 0 2px white);
}

main {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 20px;
	background-position: center;
	background-size: cover;
}

.digitalclock {
	width: fit-content;
	font-size: 25px;
	font-weight: 500;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	gap: 15px;
	color: white;
	background-color: rgba(240, 248, 255, 0.116);
	border-radius: 10px;
}

.template {
	display: flex;
	flex-direction: column;
	width:fit-content;
	align-items: center;
	padding: 20px;
}

.clock {
	font-size: 60px;
}

.phrases {
	display: flex;
	justify-content: center;
	padding: 15px;
	font-size: 30px;
	font-weight: 400;
}

.clockfooter {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
	gap: 40px;
}

.clockfooter img {
	width: 40px;
}

.clockfooter::after, .clockfooter::before {
	content: '';
	height: 3px;
	width: 350px;
	background-color: white;
}

.clockfooter a {
	transition: 0.1s ease;
}

.clockfooter a:hover {
	transform: scale(1.5);
	transition: .1s ease;
	filter: drop-shadow(0 0 2px rgb(255, 255, 255));
}