html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*------------------------*/


body {
	height: 100vh;
	font-family: "Rajdhani", sans-serif;
  	font-weight: 400;
  	font-style: normal;
}

nav img {
	width: 50px;
	transition: 0.1s ease;
}

nav img:hover {
	transform: scale(1.5);
	transition: .1s ease;
	filter: drop-shadow(0 0 2px white);
}

main {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 20px;
	background-image: url(../Wallpapers/Wallpaper2.jpg);
	background-position: center;
	background-size: cover;
}

.linkcontainer {
    margin:  0 auto;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    gap: 10px;
}

.linkcontainer span {
    color: white;
    font-size: 30px;
    font-weight: 600;
}


.linkcontainer input, .linkbtn {
    border-radius: 3px;
    padding: 10px;
    border: none;
}

.linkbtn {
    font-size: 18px;
    font-weight: 700;
    color: white;
    background-color: darkcyan;
    border: 1px solid rgb(1, 105, 105);
}

.linkbtn:hover {
    background-color: rgb(0, 163, 163);
    transition: all 0.1s linear;
}

.linklist {
    width: 100%;
    height: 500px;
    background-color: rgba(240, 248, 255, 0.116);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}

li {
    max-width: 90%;
    background-color: white;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-size: 18px;
    font-weight: 700;
    transition: all .1s linear;
}

li:hover {
    transition: all .1s linear;
    box-shadow: 1px 0px 6px 5px rgba(0, 163, 163,1);
}
  
.removelink {
    background: blue;
    color: white;
    border: none;
    padding: 5px 10px;
    width: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.removelink img {
    width: 20px;
}

.linkfooter {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
	gap: 40px;
}

.linkfooter img {
	width: 50px;
}

.linkfooter::after, .linkfooter::before {
	content: '';
	height: 3px;
	width: 350px;
	background-color: white;
}

.linkfooter a {
	transition: 0.1s ease;
}

.linkfooter a:hover {
	transform: scale(1.5);
	transition: .1s ease;
	filter: drop-shadow(0 0 2px rgb(255, 255, 255));
}